POSTGRES18_PORT=5432
POSTGRES18_PASSWORD=COLOCA_AQUI_A_PASSWORD

POSTGRES_USER=postgres
POSTGRES_DB=Projeto_Integrador_G08
POSTGRES_HOST=db

PGADMIN_EMAIL=teu_email@exemplo.com
PGADMIN_PASSWORD=coloca_uma_password_aqui


SECRET_KEY=uma_chave_muito_secreta_123456789_prodigi
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30